<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            <!-- your experience expertise and tech stack -->
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real world problems.
           I'm looking for a fresher individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with development and design.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            
    			</li>
          <li>
            
          <li>
           
    			<li>
            
    			</li>
    			<li>
            
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
